:root{
    --fade-duration: 0.5s;
    --solid-bg-color: black;
}
.header-bg-fadeToTransparent{
    background-color: rgba(255, 255, 255, 0);
    /* -webkit-transition: all var(--fade-duration) ease-in-out; */
    /* -moz-transition: all var(--fade-duration) ease-in-out; */
    /* -o-transition: all var(--fade-duration) ease-in-out; */
    transition: all var(--fade-duration) ease-in-out;
}
.header-bg-fadeToOpaque{
    background-color: var(--solid-bg-color);
    /* -webkit-transition: all var(--fade-duration) ease-in-out; */
    /* -moz-transition: all var(--fade-duration) ease-in-out;
    -o-transition: all var(--fade-duration) ease-in-out; */
    transition: all var(--fade-duration) ease-in-out;
}
.header-bg-solidOpaque{
    background-color: var(--solid-bg-color);
}